<div class="wrapper">

  <company-top-nav-bar></company-top-nav-bar>

  <div class="sidebar">
    <h1>Side Bar</h1>
    <ul>
      <li><a href="#" (click)="toggle(0)"><i class="fas fa-solid fa-user"></i>Personnel</a></li>
      <li><a href="#" (click)="toggle(1)"><i class="fas fa-solid fa-gear"></i>Software</a></li>
    </ul>
  </div>

  <div *ngIf="display == 0" class="main_content">

    <company-personnel-table></company-personnel-table>

  </div>
  <div *ngIf="display == 1" class="main_content">

    <company-software-list></company-software-list>

  </div>

</div>
