@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  margin: 0;
  background: #f1f1f1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
